/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

.root {
	-color-fondo: #2e3440;
	-color-fondo-botones: #88c0d0;
	-color-fondo-botones-presionado: #d8dee9;
	-color-texto: #eceff4;
	-fx-background-color: -color-fondo;
	-fx-font-size: 16px;
}

.vista-pantalla-centrada {
	-fx-alignment: center;
	-fx-spacing: 72px;
	-fx-fill-width: true;
}

#tablero-juego {
	-fx-border-width: 2px;
	-fx-border-color: -color-fondo-botones;
}

.lista-vertical {
	-fx-alignment: center;
	-fx-fill-width: true;
	-fx-spacing: 16px;
}

Text {
	-fx-fill: -color-texto;
	-fx-text-alignment: justify;
}

.button {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-cursor: hand;
	-fx-pref-width: 250px;
	-fx-border-radius: 24px;
	-fx-background-color: -color-fondo-botones;
	-fx-border-width: 1px;
	-fx-padding: 16px;
}

.button:hover, .button:pressed {
	-fx-background-color: -color-fondo-botones-presionado;
}

.titulo-pantalla {
	-fx-fill: -color-texto;
}

#panel-lateral-juego {
	-fx-spacing: 72px;
}

#contador-puntaje-actual {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}

.entrada-listado-partida {
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-alignment: center;
}
